.idea/.gitignore
.idea/magister_work.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/config_constants.cpython-39.pyc
__pycache__/config_util.cpython-39.pyc
__pycache__/neuralink.cpython-39.pyc
bot/__pycache__/config_constants.cpython-39.pyc
bot/__pycache__/config_util.cpython-39.pyc
bot/__pycache__/image_matcher.cpython-39.pyc
bot/__pycache__/neuralink.cpython-39.pyc
bot/__pycache__/text_matcher.cpython-39.pyc
logs/cifar10-model-v1/train/events.out.tfevents.1639224913.UASU0003WINNB.34340.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639255347.UASU0003WINNB.31360.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639255437.UASU0003WINNB.34620.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639255438.UASU0003WINNB.34620.1.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639255812.UASU0003WINNB.3196.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639255908.UASU0003WINNB.14408.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639258177.UASU0003WINNB.32976.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639258259.UASU0003WINNB.12852.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639258317.UASU0003WINNB.4492.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639258444.UASU0003WINNB.2320.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639259874.UASU0003WINNB.22964.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639259970.UASU0003WINNB.14692.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639260033.UASU0003WINNB.30028.0.v2
logs/cifar10-model-v1/train/events.out.tfevents.1639261025.UASU0003WINNB.24896.0.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639225000.UASU0003WINNB.34340.1.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639255595.UASU0003WINNB.34620.2.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639255595.UASU0003WINNB.34620.3.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639256077.UASU0003WINNB.14408.1.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639258489.UASU0003WINNB.2320.1.v2
logs/cifar10-model-v1/validation/events.out.tfevents.1639260119.UASU0003WINNB.30028.1.v2
dog.png
